# Clean the data

Select and delete rows where started_at, start_station_id, start_station_name, start_lat, start_lng, ended_at, end_station_id, end_station_name, end_lat, or end_lng IS NULL. Removed 1,388,170 rows.

In [ ]:
SELECT *
FROM cyclistic.combined_trips
WHERE
started_at IS NULL
OR start_station_id IS NULL
OR start_station_name IS NULL
OR start_lat IS NULL
OR start_lng IS NULL
OR ended_at IS NULL
OR end_station_id IS NULL
OR end_station_name IS NULL
OR end_lat IS NULL
OR end_lng IS NULL;

DELETE 
FROM cyclistic.combined_trips
WHERE
started_at IS NULL
OR start_station_id IS NULL
OR start_station_name IS NULL
OR start_lat IS NULL
OR start_lng IS NULL
OR ended_at IS NULL
OR end_station_id IS NULL
OR end_station_name IS NULL
OR end_lat IS NULL
OR end_lng IS NULL;

Add column for ride_length.

In [ ]:
ALTER TABLE `cyclistic.combined_trips`
ADD COLUMN ride_length int

Calculate ride lengths.

In [ ]:
UPDATE `cyclistic.combined_trips`
SET ride_length = DATETIME_DIFF(ended_at, started_at, minute)
WHERE ride_id IS NOT NULL

Find ride_length that is less than 0 minute or greater than or equal to 1440 minutes (one day).

In [ ]:
SELECT COUNT(ride_id)
FROM `cyclistic.combined_trips`
WHERE ride_length < 0 or ride_length >= 1440

Delete rows where ride_length is less than 1 minute or greater than 1440 minutes.

In [ ]:
DELETE
FROM `cyclistic.combined_trips`
WHERE ride_length < 0 or ride_length >= 1440

Add column for the month.

In [ ]:
ALTER TABLE `cyclistic.combined_trips`
ADD COLUMN month STRING;

UPDATE `cyclistic.combined_trips`
SET month = FORMAT_DATETIME("%b", DATETIME(started_at))
WHERE ride_id IS NOT NULL

Add column for day of the week.

In [ ]:
ALTER TABLE `cyclistic.combined_trips`
ADD COLUMN day_of_week STRING;

UPDATE `cyclistic.combined_trips`
SET day_of_week = FORMAT_DATETIME("%a", DATETIME(started_at))
WHERE ride_id IS NOT NULL

Count the number of remaining rows after cleaning.

In [ ]:
SELECT COUNT(DISTINCT ride_id)
FROM `cyclistic.combined_trips`

-- Result: 4331540